<h1 class="text-center text-primary mt-4">Login Form</h1>
<%=form_with url: "/user/login", method: :post, class: "w-50 mx-auto" do |form|%>
  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: 'form-label' %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <%= form.submit "Login" , class: "btn btn-primary"%>
<%end%>